# .: ~ .gitignore file ~ :.

# Ignore everything

/*

# Ignore files:
*.pyc

# Thing to not ignore
!.gitignore
!LICENSE.md
!README.md

!nvim/
nvim/**

!kakoune/
kakoune/**

!emacs/
emacs/**

!doom/
doom/**

!zsh/
zsh/**

!qtile/
qtile/**

!xmonad/
xmonad/**
!xmonad/build
!xmonad/aru-xmonad.cabal
!xmonad/xmonad.hs

!xmobar/
xmobar/**
!xmobar/xmobarrc0
!xmobar/xmobarrc1

!termite/
termite/**
