# .: ~ .gitignore file ~ :.
# by DIO

# Ignore everything

/*

# Ignore files:
*.pyc

# Thing to not ignore
!.gitignore
!LICENSE.md
!README.org

!docs/
!docs/**

!docs.org/
!docs.org/**

!nvim/
nvim/**

!kakoune/
kakoune/**

!emacs/
emacs/**

!doom/
doom/**

!zsh/
!zsh/**
zsh/.zcompdump*

!fish/
!fish/**

!qtile/
qtile/**

!xmonad/
!xmonad/**
xmonad/dist-newstyle/

!xmobar/
!xmobar/**

!termite/
!termite/**

!alacritty/
!alacritty/**

!rofi/
!rofi/**
