# .: ~ .gitignore file ~ :.

#                                 /██                       /██      /████████
#                                | ██                      | ██     |_____ ██/
#   /██████  /██████ /██   /██   | ███████  /██████  /██████ ██   /██    /██/
#  |____  ██/██__  █| ██  | ██/███ ██__  ██|____  ██/██____| ██  /██/   /██/
#   /██████| ██  \__| ██  | ██/__/ ██  \ ██ /██████| ██    | ██████/   /██/
#  /██__  █| ██     | ██  | ██   | ██  | ██/██__  █| ██    | ██_  ██  /██/
# |  ██████| ██     |  ██████/   | ██  | █|  ██████|  ██████ ██ \  ██/████████
#  \_______|__/      \______/    |__/  |__/\_______/\______|__/  \__|________/

# Ignore everything

/*

# Ignore files:
*.pyc

# Thing to not ignore
!.gitignore
!LICENSE.md
!README.org

!nvim/
nvim/**

!kakoune/
kakoune/**

!emacs/
emacs/**

!doom/
doom/**

!zsh/
!zsh/**
zsh/.zcompdump*

!fish/
!fish/**

!qtile/
qtile/**

!xmonad/
!xmonad/**
xmonad/dist-newstyle/

!xmobar/
!xmobar/**

!termite/
!termite/**

!alacritty/
!alacritty/**

!rofi/
!rofi/**
